* {
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Mali', cursive;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --red: #FF0000;
    --black: #282828;
    --white: #fff;
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.page-container .content-container {
    position: relative;
    width: 599px;
    height: 100vh;
    overflow-y: auto;

    box-shadow: 0px 0px 5px 1px rgba(40,40,40,0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(40,40,40,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(40,40,40,0.75);
}

.page-container .content-container .content {
    padding: 20px 30px;
}